In [197]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy as db
from sqlalchemy import create_engine
import seaborn as sns

In [198]:
path = 'clean_songs.csv'
db_path = 'sqlite:///spotify.db'

In [199]:
df = pd.read_csv(path)
df.drop(['Unnamed: 0', 'id'], axis=1, inplace=True)
df.index.rename('id', inplace=True)
df = pd.DataFrame(df)
df.head()

,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
id,,,,,,,,,,,,,,,,,,,,,
0,Downtown Life,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],1,1,False,0.660,0.892,...,0.0419,0.0971,0.000021,0.3500,0.767,110.089,268467,4,1988,7/27/1988
1,Everything Your Heart Desires,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],2,1,False,0.706,0.861,...,0.0411,0.1570,0.000001,0.2560,0.887,99.992,300467,4,1988,7/27/1988
2,I'm In Pieces,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],3,1,False,0.381,0.824,...,0.0408,0.1190,0.000000,0.0826,0.805,87.064,290467,4,1988,7/27/1988
3,Missed Opportunity,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],4,1,False,0.765,0.815,...,0.0429,0.5230,0.000000,0.0821,0.733,106.063,287600,4,1988,7/27/1988
4,Talking All Night,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],5,1,False,0.745,0.787,...,0.0451,0.2190,0.000110,0.0910,0.902,120.925,274400,4,1988,7/27/1988

In [200]:
engine = create_engine(db_path)
conn = engine.connect()

In [201]:
attributes_df = df[['explicit', 'danceability', 'energy', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo']]
attributes_df = attributes_df.copy()

In [202]:
#Attributes Table
attributes_df.index.rename('attribute_id', inplace=True)
attributes_df.reset_index(inplace=True)
attributes_df.rename(columns={'attribute_id': 'song_id'}, inplace=True)
attributes_df.index.rename('attribute_id', inplace=True)
attributes_df

,song_id,explicit,danceability,energy,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
attribute_id,,,,,,,,,,,,
0,0,False,0.660,0.8920,-6.545,0,0.0419,0.0971,0.000021,0.3500,0.7670,110.089
1,1,False,0.706,0.8610,-5.774,1,0.0411,0.1570,0.000001,0.2560,0.8870,99.992
2,2,False,0.381,0.8240,-6.400,1,0.0408,0.1190,0.000000,0.0826,0.8050,87.064
3,3,False,0.765,0.8150,-6.931,1,0.0429,0.5230,0.000000,0.0821,0.7330,106.063
4,4,False,0.745,0.7870,-6.328,1,0.0451,0.2190,0.000110,0.0910,0.9020,120.925
...,...,...,...,...,...,...,...,...,...,...,...,...
70563,70563,False,0.630,0.7080,-9.390,1,0.0279,0.1390,0.000000,0.2090,0.8670,104.994
70564,70564,False,0.673,0.2760,-15.667,1,0.0379,0.6470,0.000002,0.0530,0.8150,180.055
70565,70565,False,0.665,0.3650,-18.173,0,0.0269,0.4430,0.000031,0.0778,0.5280,100.171
70566,70566,False,0.630,0.3630,-18.010,1,0.0355,0.4700,0.000004,0.0520,0.8990,85.673
70567,70567,False,0.558,0.0573,-19.800,0,0.0292,0.8460,0.000000,0.1130,0.0753,110.325

In [203]:
# Artist Table
artist_df = pd.DataFrame(df['artists'].str.split(', ').explode('artist'))
artist_df = artist_df['artists'].drop_duplicates()
artist_df = pd.DataFrame(artist_df)
artist_df = artist_df.reset_index(drop=True)
artist_df.index.rename('artist_id', inplace=True)
artist_df

                               artists
artist_id
0          ['Daryl Hall & John Oates']
1                        ['The Judds']
2              ['Asleep At The Wheel']
3            ['New Kids On The Block']
4                      ['Patti Smith']
...                                ...
13101       ['Death Valley Screamers']
13102                  ['Fatal Smile']
13103                         ['Roxx']
13104                      ['Lil Rev']
13105           ['Jonnie and Brookie']

[13106 rows x 1 columns]

In [204]:
# Album Table
album = df.groupby('album')
album = album['album_id'].unique()
album = album.reset_index()
album = album.drop('album_id', axis=1)
album = pd.DataFrame(album)
album.index.rename("album_id", inplace=True)
album

                                                      album
album_id
0                                           "C" For Chicago
1         "Make the Yuletide Gay" Original Motion Pictur...
2                       "Territory" Shall Mean the Universe
3                                "There's Always a Way Out"
4         "Waking the Cobra", Vocal Meditations on the C...
...                                                     ...
5523                                                    心裡龍
5524                                                忘了你‧忘了我
5525                                             放我的真心在你的手心
5526                                                    沒話說
5527                                                 記得我們有約

[5528 rows x 1 columns]

In [205]:
# Song Table
song = df[['name', 'track_number', 'disc_number', 'duration_ms', 'time_signature', 'year', 'release_date']]
song.index.rename('song_id', inplace=True)

In [206]:
df.head(2)

,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
song_id,,,,,,,,,,,,,,,,,,,,,
0,Downtown Life,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],1,1,False,0.660,0.892,...,0.0419,0.0971,0.000021,0.350,0.767,110.089,268467,4,1988,7/27/1988
1,Everything Your Heart Desires,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],2,1,False,0.706,0.861,...,0.0411,0.1570,0.000001,0.256,0.887,99.992,300467,4,1988,7/27/1988

In [207]:
#Song_Album Table

#Make a copy of album table, saving the primary key as a column
merger_album = album.copy()
merger_album.reset_index(inplace=True)

#Make a Dataframe with all songs and save the song ID as a column
song_album_match = pd.DataFrame({'song': df['name'],'album':df['album']})
song_album_match.reset_index(inplace=True)

#Merge the two columns
merged = pd.merge(song_album_match, merger_album, on='album', how='outer')
merged.index.rename('song_album_id', inplace=True)


#Drop the song and Album for real table
merged.drop(columns=['album', 'song'], inplace=True)

#Final DataFrame Name
merged

#Example of how to find data if you knoe the ID
#findit = merged[merged['album_id'] == 0]
#findit

               song_id  album_id
song_album_id
0                    0      3292
1                    1      3292
2                    2      3292
3                    3      3292
4                    4      3292
...                ...       ...
70563            70563      4085
70564            70564      4085
70565            70565      4085
70566            70566      4085
70567            70567      4085

[70568 rows x 2 columns]

In [208]:
artist_df.head(1)

                               artists
artist_id
0          ['Daryl Hall & John Oates']

In [209]:
album.head(1)

                    album
album_id
0         "C" For Chicago

In [210]:
df.head(1)

,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
song_id,,,,,,,,,,,,,,,,,,,,,
0,Downtown Life,Ooh Yeah!,4EEyCnj2fZu1eInXpLfZZW,['Daryl Hall & John Oates'],['77tT1kLj6mCWtFNqiOmP9H'],1,1,False,0.66,0.892,...,0.0419,0.0971,0.000021,0.35,0.767,110.089,268467,4,1988,7/27/1988

In [211]:
#Album_Artist Table
merger_album

#Create a dataframe with only the Albums with original song_id
all_albums = df[['album']]
all_albums.reset_index(inplace=True)

#Create a dataframe with only the Artist with original song_id
all_artist = pd.DataFrame({"artists":df["artists"].str.split(", ").explode().dropna()}).reset_index()
all_artist.rename(columns={'artist_id':'song_id'}, inplace=True)
all_artist.index.rename('artist_id', inplace=True)
all_albums

#Merge the two on the song_id (as the common data type)
album_artist = pd.merge(all_albums, all_artist, on='song_id', how='outer') 
album_artist

#merge the album id from the album table onto album_artist
album_artist = pd.merge(album_artist, merger_album, on='album', how='outer')

#merge artist id from artist table onto album_artist
merger_artist = artist_df.copy()
merger_artist.reset_index(inplace=True)
merger_artist

album_artist = pd.merge(album_artist, merger_artist, on='artists', how='outer')


#Drop all unneccessary columns
album_artist.drop(columns=['album','artists','song_id'], inplace=True)

#Tidy up
album_artist.index.rename('album_artist_id', inplace=True)
album_artist

                 album_id  artist_id
album_artist_id
0                    3292          0
1                    3292          0
2                    3292          0
3                    3292          0
4                    3292          0
...                   ...        ...
109888               2429      13105
109889               2429      13105
109890               2429      13105
109891               2429      13105
109892               2429      13105

[109893 rows x 2 columns]

In [212]:
# add the DataFrames to the SQL database
attributes_df.to_sql(name= 'attributes', con = engine, if_exists='replace')
album.to_sql(name = 'album', con=engine, if_exists='replace')
song.to_sql(name = 'song', con=engine, if_exists='replace')
artist_df.to_sql(name = 'artist', con=engine, if_exists='replace')
merged.to_sql(name = 'song_album', con=engine, if_exists='replace')
album_artist.to_sql(name = 'album_artist', con=engine, if_exists='replace')